services:
  - type: web
    name: telegram-save-bot
    env: python
    pythonVersion: "3.11.9"
    plan: free
    region: oregon
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        value: "8537062188:AAGMgeNReiVf5yAniXrzJFwbTtTWOv71NaY"
